# Simple linear regression

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

In [2]:
# Read CSV using Pandas
Data=pd.read_csv('Startups.csv')
Data

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [3]:
# Drop Zero Values
Data = Data[Data!=0].dropna()
Data

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75

In [4]:
# Encode State Columns
New_data = pd.get_dummies(Data, columns=['State'])
New_data

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,False,False,True
1,162597.70,151377.59,443898.53,191792.06,True,False,False
2,153441.51,101145.55,407934.54,191050.39,False,True,False
3,144372.41,118671.85,383199.62,182901.99,False,False,True
4,142107.34,91391.77,366168.42,166187.94,False,True,False
5,131876.90,99814.71,362861.36,156991.12,False,False,True
6,134615.46,147198.87,127716.82,156122.51,True,False,False
7,130298.13,145530.06,323876.68,155752.60,False,True,False
8,120542.52,148718.95,311613.29,152211.77,False,False,True
9,123334.88,108679.17,304981.62,149759.96,True,False,False
10,101913.08,110594.11,229160.95,146121.95,False,True,False
11,100671.96,91790.61,249744.55,144259.40,True,False,False
12,93863.75,127320.38,249839.44,141585.52,False,True,False
13,91992.39,135495.07,252664.93,134307.35,True,False,False
14,119943.24,156547.42,256512.92,132602.65,False,True,False
15,114523.61,122616.84,261776.23,129917.04,False,False,True
16,78013.11,121597.55,264346.06,126992.93,True,False,False
17,94657.16,145077.58,282574.31,125370.37,False,False,True
18,91749.16,114175.79,294919.57,124266.90,False,True,False
20,76253.86,113867.30,298664.47,118474.03,True,False,False
21,78389.47,153773.43,299737.29,111313.02,False,False,True
22,73994.56,122782.75,303319.26,110352.25,False,True,False
23,67532.53,105751.03,304768.73,108733.99,False,True,False
24,77044.01,99281.34,140574.81,108552.04,False,False,True
25,64664.71,139553.16,137962.62,107404.34,True,False,False
26,75328.87,144135.98,134050.07,105733.54,False,True,False
27,72107.60,127864.55,353183.81,105008.31,False,False,True
28,66051.52,182645.56,118148.20,103282.38,False,True,False
29,65605.48,153032.06,107138.38,101004.64,False,False,True
30,61994.48,115641.28,91131.24,99937.59,False,True,False
31,61136.38,152701.92,88218.23,97483.56,False,False,True
32,63408.86,129219.61,46085.25,97427.84,True,False,False
33,55493.95,103057.49,214634.81,96778.92,False,True,False
34,46426.07,157693.92,210797.67,96712.80,True,False,False
35,46014.02,85047.44,205517.64,96479.51,False,False,True
36,28663.76,127056.21,201126.82,90708.19,False,True,False
37,44069.95,51283.14,197029.42,89949.14,True,False,False
38,20229.59,65947.93,185265.10,81229.06,False,False,True
39,38558.51,82982.09,174999.30,81005.76,True,False,False
40,28754.33,118546.05,172795.67,78239.91,True,False,False
41,27892.92,84710.77,164470.71,77798.83,False,True,False
42,23640.93,96189.63,148001.11,71498.49,True,False,False
43,15505.73,127382.30,35534.17,69758.98,False,False,True
44,22177.74,154806.14,28334.72,65200.33,True,False,False
45,1000.23,124153.04,1903.93,64926.08,False,False,True
46,1315.46,115816.21,297114.46,49490.75,False,True,False

In [5]:
New_data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      46.000000       46.000000        46.000000      46.000000
mean    78241.718043   121947.043478    228393.083261  117063.925217
std     43695.348335    26812.767940    111336.691801   35960.003971
min      1000.230000    51283.140000      1903.930000   49490.750000
25%     46117.032500   103730.875000    142431.385000   96537.832500
50%     74661.715000   122699.795000    239452.750000  108643.015000
75%    111370.977500   144842.180000    302423.767500  143590.930000
max    165349.200000   182645.560000    471784.100000  192261.830000

In [6]:
# Split Value to X and Y
X = New_data.drop(columns=['Profit'])
Y = New_data['Profit']

In [7]:
# Use train_test_split function to automatically split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [8]:
# Call Linear Regression Function
Regression = LinearRegression()

In [9]:
# Start Calculating
Regression.fit(x_train, y_train)

LinearRegression()

In [10]:
# Predict and Show Values between Predicted and Actual Value
y_predict = Regression.predict(x_test)
print(pd.array(y_predict))
print(pd.array(y_test))

<FloatingArray>
[ 78773.31770057263, 108965.27482590024,  112757.2091445677,
  48823.67042217824,   75226.7394422955,  75727.24108141894,
 170562.50398170942, 127455.99239995296, 148235.67566147354,
 170727.35446019002,  158603.7516261542, 104593.91401933636,
  98242.14794147208, 119348.88097556554]
Length: 14, dtype: Float64
<NumpyExtensionArray>
[ 78239.91, 105733.54, 105008.31,  64926.08,  90708.19,  71498.49, 166187.94,
 141585.52, 152211.77, 182901.99, 156122.51, 107404.34,  96778.92, 118474.03]
Length: 14, dtype: float64

In [11]:
mse = mean_squared_error(y_test, y_predict)
r2 = r2_score(y_test, y_predict)
print(mse, r2)

70528014.59919673 0.9447982391048755